.tooltip .tooltiptext {
    visibility: hidden;
    max-width: 200px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-width:thin;
    border-style:solid;
    border-color:black;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }